/*.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}
}


*/
:root {
  --header-font: "Italiana", sans-serif;
  --default-font: "IBM Plex Serif", serif;
}
body {
  font-family: var(--default-font);
  text-align: center;
}
h1 {
  font-family: var(--header-font);
  font-size: 96px;
}

p {
  padding: 10px 0;
}

.hero {
  padding: 120px 50px;
  text-shadow: 1px 1px 10px rgba(250, 250, 250, 0.8);
}

.header-image {
  background-image: url(/images/skincare-background-1.png);
}
.discover-msg {
  font-size: 34px;
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
}
.brand-info {
  padding: 80px 30px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.btn:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-explore-products {
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-align: center;
}

.btn-discover-brand {
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (max-width: 768px) {
  .brand-info {
    text-align: center;
    padding: 20px 20px;
  }
  h1 {
    font-size: 72px;
  }
}
